<h2><%= post.post_title %></h2>
<h2><img src="/images/<%= post.image %>.jpg" alt=""></h2>
<hr>
<h2>Description</h2>
<p><%= post.post_description %></p>
<h2>Category</h2>
<p><%= post.post_category %></p>
