<div class="row" class="container-fluid" style="padding-top:20px;">
    <div id="category1" class="col-md-2">Bbq</div>
    <div id="category2" class="col-md-2">Pasta</div>
    <div id="category3" class="col-md-2">Pub</div>
    <div id="category4" class="col-md-2">Smoothies</div>
    <div id="category5" class="col-md-2">Baking</div>
    <div id="category6" class="col-md-2">Desert</div>
</div>

<h4>
    Featured
    <select onselect="" id="featured">
        <option value="today">Today</option>
        <option value="week">Week</option>
        <option value="month">Month</option>
        <option value="year">Year</option>
    </select>
</h4>
<hr>


