<form action="/newPost" method="post" name="newPost" class="register-form" enctype="application/x-www-form-urlencoded">

    <label>Image</label>
    <input type="file" name="image_path" class="btn btn-default " accept="image/*" required>
    <br>
    <label>Title</label>
    <input name="title" style="width: 40em;" class="form-control" type="text" required maxlength="30">
    <br>
    <label>Description</label>
    <textarea class="form-control" name="description" style="width: 40em; height: 10em" required
              maxlength="250"></textarea>
    <br>
    <label>Category</label>
    <select name="category" class="form-control" style="width: 40em;">
        <option value=""></option>
        <option value="Bbq">Bbq</option>
        <option value="Pasta">Pasta</option>
        <option value="Pub">Pub</option>
        <option value="Liquids">Liquids</option>
        <option value="Baking">Baking</option>
        <option value="Dessert">Dessert</option>
    </select>
    <br>
    <label>Ingredients</label>
    <table class="form-table" id="table1">
        <tr>
            <td>
                <input type="text" class="code btn btn-default" style="width: 15em;" id="ingredient"
                       name="ingredient1" value="" placeholder="Ingredient" required maxlength="30"/>&nbsp;
                <input type="text" class="code btn btn-default" style="width: 6em;" id="amount" name="amount1"
                       value="" placeholder="Amount" onkeypress='validate(event)'/>&nbsp;
                <select class="code btn btn-default" name="unit1" style="width: 10em;">
                    <option value="">Unit</option>
                    <option value=""></option>
                    <option value="Cup">Cup(s)</option>
                    <option value="Dash">Dash</option>
                    <option value="Drop">Drop(s)</option>
                    <option value="Litre">Litre(s)</option>
                    <option value="mL">mL</option>
                    <option value="Piece">Piece(s)</option>
                    <option value="Pinch">Pinch</option>
                    <option value="Quart">Quart(s)</option>
                    <option value="Tsp">Tsp</option>
                    <option value="Tbsp">Tbsp</option>
                </select>&nbsp;
                <input type="button" style="width:7em; background-color: #3f5eff; color: white; font-weight: bold;"
                       class="addCF btn btn-default" value="Add">
            </td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <label>Directions</label>
    <textarea class="form-control" name="directions" style="width: 40em; height: 10em" title="" required
              maxlength="2500"></textarea>
    <hr>
    <input type="submit" class="btn btn-default " value="Submit Post">
</form>


<script>

</script>