<form action="/newPost" method="post" class="register-form" enctype="multipart/form-data">
  <label>Title</label>
  <input name="post_title" style="width: 40em;" class="form-control" type="text">
  <label>Description</label>
  <textarea class="form-control" name="post_description" style="width: 40em; height: 10em"></textarea>
    <label>Category</label>
    <select name="post_category" class="form-control" style="width: 40em;">
    <option value=""></option>
    <option value="oven">Oven</option>
    <option value="no_bake">No Bake</option>
    <option value="bbq">Bbq</option>
    <option value="slow_cook">Slow Cooker</option>
  </select>
  </table>
    <table>
    <tr>
      <th>
        <label style="padding-right: 16em;">Ingredient 1</label>
        <input name="ingredient_1" style="width: 20em; " class="form-control" type="text">
      </th>
      <th>
        <label style="padding-right: 4em;">Amount</label>
        <input name="amount" style="width: 6em;" class="form-control" type="text">
      </th>
      <th>
        <label>Units</label>
        <select name="post_category" class="form-control" style="width: 10em;">
          <option value=""></option>
          <option value="cup">Cup</option>
          <option value="tsp">Tsp</option>
          <option value="tbsp">Tbsp</option>
          <option value="pinch">Pinch</option>
        </select>
      </th>
    </tr>
    <br>

  </table>
  <label>Directions</label>
  <textarea class="form-control" name="post_direction" style="width: 40em; height: 10em"></textarea>
  <hr>
    <input type="submit" class="btn btn-default " value="Submit Post">

</form>
